.table-container {
  overflow: hidden;
  border: 1px solid #e5e7eb;
  background: rgb(33, 33, 52);
  border-radius: 12px !important;
  transition: all 0.5s;

  .rdt_Table {
    border-collapse: collapse;
    border-spacing: 0px;
    width: 100%;
    white-space: nowrap;
    //padding: 0 24px 12px 24px;

    .rdt_TableHead {
      text-transform: uppercase;
      .rdt_TableHeadRow {
        border-bottom: 1px solid #e5e7eb;
        .rdt_TableCol {
          height: 3.5rem;
          vertical-align: middle;
          text-align: left;
          color: rgb(165, 165, 186) !important;
          outline-offset: -4px;
          font-weight: 600;
          font-size: 0.6875rem;
          line-height: 1.45;
          text-transform: uppercase;
        }
        div[data-column-id='1'],
        div[data-column-id='2'],
        div[data-column-id='5'] {
          min-width: 100px;
          max-width: 100px;
        }

        div[data-column-id='3'] {
          min-width: 150px;
          max-width: 150px;
        }

        div[data-column-id='2'] {
          padding-left: 10px;
        }
      }
    }

    .rdt_TableBody {
      .rdt_TableRow {
        padding: 16px;
        &:hover {
          background-color: rgb(250, 250, 250);
        }
        .rdt_TableCell {
          font-size: 14px;
          font-weight: 400;
          color: rgb(58, 61, 71);
        }
        div[data-column-id='1'],
        div[data-column-id='2'],
        div[data-column-id='5'] {
          min-width: 100px;
          max-width: 100px;
        }
        div[data-column-id='3'] {
          min-width: 150px;
          max-width: 150px;
        }
        div[data-column-id='3'],
        div[data-column-id='4'] {
          padding-left: 0;
        }
      }
    }
  }

  input[type='checkbox'] {
    margin: 0px;
    height: 20px !important;
    min-width: 20px !important;
    border-radius: 4px;
    border: 1px solid rgb(220, 220, 228);
    background-color: rgb(220, 220, 228);
    cursor: pointer;

    &:checked {
      background-color: rgb(207, 207, 207);
      border: 1px solid rgb(181, 181, 181);
      //background-image: ;
    }
  }
}

.rdt_Pagination {
  border: 0 !important;
}
